<div class="mc-image position-relative">
    <div class="mc-image_img" style="background-image: url({{ block.image | image_url }});">
    <div class="mc-image_overlay position-absolute">
        <div class="mc-image_text position-absolute d-flex flex-column justify-content-center align-items-center">
        <h3 class="text-center px-3 pb-4 mb-3 mc-image_alt position-relative">{{ block.alt }}</h3>
        {% if block.btn_text != blank %}
        <div class="mc-image_btn"><a class="btn btn-{{ block.btn_type }} btn-lg mx-2" href="{{ block.btn_link }}" role="button">{{ block.btn_text }}</a></div>
        {% endif %}
        </div>
    </div>
    </div>
    </div>
    
        
        {% schema %}
        {
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "default": "placeholder.webp",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "alt",
                    "default": "Lorem ipsum",
                    "label": "Image Alt Text"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button Label",
                    "default": "Button 1"
                },
                {
                    "type": "url",
                    "id": "btn_link",
                    "label": "Button Link"
                },
                {
                   "type": "select",
                   "id": "btn_type",
                   "default": "inverse-text",
                   "label": "Button Type",
                   "options": [
                            {
                                "label": "Solid",
                                "value": "solid"
                            },
                            {
                                "label": "Outline",
                                "value": "outline"
                            },
                            {
                                "label": "Inverse Outline",
                                "value": "inverse-outline"
                            },
                            {
                                "label": "Default Text",
                                "value": "default-text"
                            },
                            {
                                "label": "Inverse Text",
                                "value": "inverse-text"
                            }]
               }
            ]
        }
        {% endschema %}