{% if block.title != blank %}
<h4>{{ block.title }}</h4>
{% endif %}
{% if block.text != blank %}
<div class="my-3">{{ block.text }}</div>
{% endif %}

{% schema %}
{
    "name": "text",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ]
}
{% endschema %}