<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">
<head>

    <meta name="google-site-verification" content="5FUlxCiQgOWHvq4rIckf8hkf-25fn8kqeDeO6LgNx3w"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <meta name="keywords" content="{{ seo_meta_keywords }}">
    <meta name="description" content="{{ seo_meta_description }}">
    <link rel="shortcut icon" href="{{ favicon }}"/>
    <title>{{ seo_title }}</title>
    
    <link rel="preload" href="{{ 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' }}" as="style">
    {{ 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' | stylesheet_tag }}
  
    <link rel="preload" href="{{ 'style.css' | assets_url }}" as="style">
    {{ 'style.css' | assets_url | stylesheet_tag }}


    <link rel="preload" href="{{ 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' }}" as="script">
    {{ 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' | javascript_tag: "defer" }}
    
    <link rel="preload" href="{{ 'https://code.jquery.com/jquery-3.6.0.min.js' }}" as="script">
    {{ 'https://code.jquery.com/jquery-3.6.0.min.js' | javascript_tag: "defer" }}

    <link rel="preload" href="{{ 'js.js' | assets_url }}" as="script">
    {{ 'js.js' | assets_url | javascript_tag: "defer" }}

    {{ ahoy }}

<style>

body {
    color: {{ color_text }}!important;
    font-family: {{ type_base_font }}!important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: {{ type_header_font }};
    color: {{ heading_color_text }}
}

p {
    font-family: {{ type_base_font }};
}

a {
    font-family: {{ type_nav_font }};
    color: {{ accent1_color }};
}

a:hover {
    color: {{ accent2_color }};
}

ul li {
    font-family: {{ type_base_font }};
}

label {
    font-family: {{ type_header_font }};
    color: {{ heading_color_text }};
}

input, textarea {
    border-radius: {{ btn_border_radius }}px;
    background: {{ accent1_color }}18;
    color: {{ heading_color_text }};
}

.form-control {
    background-color: {{ accent1_color }}08;
    color: {{ heading_color_text }};
    border-radius: {{ btn_border_radius }}px;
}

/* Background Color */

.bg-background1 {
    background: {{ background1_color }};
}
            
.bg-background2 {
    background: {{ background2_color }};
}
            
.bg-background3 {
    background: {{ background3_color }};
}
            
.bg-accent1 {
    background: {{ accent1_color }};
}
            
.bg-accent2 {
    background: {{ accent2_color }};
}
            
.bg-transparent {
    background: transparent;
}

.bg-black {
    background: #000000;
}

/* Text Color */
            
.text-inverse, .text-inverse p {
    color: {{ inverse_color_text }};
}
            
.text-inverse h1,
.text-inverse h2,
.text-inverse h3,
.text-inverse h4,
.text-inverse h5,
.text-inverse h6,
.text-inverse .h1,
.text-inverse .h2,
.text-inverse .h3,
.text-inverse .h4,
.text-inverse .h5,
.text-inverse .h6  {
    color: {{ inverse_color_text }};
}
            
.text-inverse a {
    text-decoration: none;
    color: {{ inverse_color_text }};
}

.muticolumn-footer-with-text .text-inverse a:hover {
    text-decoration: underline;
}
            
.text-inverse a.navbar-brand, .text-inverse a.nav-link-btn {
    text-decoration-color: transparent;
}
            
.text-body a.navbar-brand, .text-default a.navbar-brand {
    text-decoration-color: transparent;
}
            
.text-inverse .nav .navbar-nav a, a.nav-icon-link {
    text-decoration-color: transparent;
}
            
.text-accent1 {
    color: {{ accent1_color }};
}
            
.text-accent2 {
    color: {{ accent1_color }};
}
            
.text-background1 {
    color: {{ background1_color }};
}
            
.text-background2 {
    color: {{ background2_color }};
}
            
.text-background3 {
    color: {{ background3_color }};
}
            
.nav .text-body a, .nav .text-default a {
    text-decoration-color: transparent;
}

/* Buttons */
            
.btn {
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    font-family: {{ type_button_font }};
    text-transform: {{ type_btn_case }};
    border-radius: {{ btn_border_radius }}px;
}
            
.btn-solid {
    border-color: {{ color_primary_button }};
    background-color: {{ color_primary_button }};
    color: {{ color_primary_button_label }};
    transition: all .5s ease;
    border-radius: {{ btn_border_radius }}px;
}
            
a.btn-solid {
    color: {{ color_primary_button_label }};
    text-decoration-color: transparent;
}
            
.btn-solid:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}
            
.btn-outline, a.btn-outline {
    color: {{ color_primary_button }};
    background-color: transparent;
    background-image: none;
    border-color: {{ color_primary_button }};
    border-radius: {{ btn_border_radius }}px;
    transition: all .5s ease;
}

.btn-outline:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}
            
.btn-inverse-outline, a.btn-inverse-outline {
    color: {{ color_primary_button_label }};
    background-color: transparent;
    background-image: none;
    border-color: {{ color_primary_button_label }};
    border-radius: {{ btn_border_radius }}px;
    transition: all .5s ease;
}
            
.btn-inverse-outline:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}
            
.btn-default-text, a.btn-default-text {
    font-weight: 400;
    background-color: transparent;
    padding: 0.5em 0;
    text-decoration-color: transparent;
    font-weight: 500;
    text-transform: none;
    transition: all .5s ease;
    color: {{ heading_color_text }};
}
            
.btn-default-text:after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.25em;
    position: relative;
    top: -0.07em;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 0.45em;
    color: {{ color_primary_button }};
}
            
.btn-default-text:hover {
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
    color: {{ color_primary_button }};
}

.btn-default-text.focus,
.btn-default-text:focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-inverse-text, a.btn-inverse-text {
    font-weight: 400;
    background-color: transparent;
    padding: 0.5em 0;
    text-decoration-color: transparent;
    font-weight: 500;
    text-transform: none;
    transition: all .5s ease;
    color: {{ inverse_color_text }};
}
            
.btn-inverse-text:after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.25em;
    position: relative;
    top: -0.07em;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 0.45em;
    color: {{ inverse_color_text }};
}
            
.btn-inverse-text:hover {
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
    color: {{ inverse_color_text }};
}

.btn-inverse-text.focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}
            
.btn-icon {
    background: transparent;
    border: 0;
    color: {{ accent1_color }};
}

/* Borders */
            
.border-top-accent1 {
    border-top: solid 2px {{ accent1_color }};
}
            
.border-top-accent2 {
    border-top: solid 2px {{ accent2_color }};
}
            
.border-top-default {
    border-top: solid 2px {{ color_text }};
}
            
.border-top-inverse {
    border-top: solid 2px {{ inverse_color_text }};
}

/* Icons */

@font-face {
    font-family: 'icomoon';
    src: url('{{ "icomoon.eot" | font_url }}');
    src: url('{{ "icomoon.eot" | font_url }}') format('embedded-opentype'),
    url('{{ "icomoon.ttf" | font_url }}') format('truetype'),
    url('{{ "icomoon.woff" | font_url }}') format('woff'),
    url('{{ "icomoon.svg" | font_url }}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
            
[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
                
/* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
            
.icon-tiktok:before {
    content: "\e904";
}

.icon-twitter:before {
    content: "\e908";
}

.icon-linkedin-in:before {
    content: "\e90f";
}

.icon-youtube:before {
    content: "\e912";
}

.icon-pinterest:before {
    content: "\e913";
}

.icon-facebook:before {
    content: "\e914";
}

.icon-instagram:before {
    content: "\e915";
}

.icon-yelp:before {
    content: "\e916";
}

.icon-spinner11:before {
    content: "\e984";
}

.icon-zoom-in:before {
    content: "\e987";
}

.icon-zoom-out:before {
    content: "\e988";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-cross:before {
    content: "\ea0f";
}

.icon-tumblr2:before {
    content: "\eaba";
}

.icon-mail:before {
    content: "\e910";
}

.icon-phone-call:before {
    content: "\e911";
}

.icon-Arrow:before {
    content: "\e900";
}

.icon-Burger:before {
    content: "\e901";
}

.icon-Call:before {
    content: "\e902";
}

.icon-Close:before {
    content: "\e903";
}

.icon-Favorite:before {
    content: "\e905";
}

.icon-Home:before {
    content: "\e906";
}

.icon-Instagram:before {
    content: "\e907";
}

.icon-Mail:before {
    content: "\e909";
}

.icon-Minus:before {
    content: "\e90a";
}

.icon-Ok:before {
    content: "\e90b";
}

.icon-Pinterest:before {
    content: "\e90c";
}

.icon-Plus:before {
    content: "\e90d";
}

.icon-Search:before {
    content: "\e90e";
}

/* Icon Colors */
[class^="icon-"].text-default:before, [class*=" icon-"].text-default:before {
    color: {{ color_text }}!important;
}

[class^="icon-"].text-inverse:before, [class*=" icon-"].text-inverse:before {
    color: {{ inverse_color_text }}!important;
}

[class^="icon-"].text-accent1:before, [class*=" icon-"].text-accent1:before {
    color: {{ accent1_color }}!important;
}

[class^="icon-"].text-accent2:before, [class*=" icon-"].text-accent2:before {
    color: {{ accent2_color }}!important;
}

.star-inverse [class^="icon-"]:before, .star-inverse [class*=" icon-"]:before {
    color: {{ inverse_color_text }}!important;
}

.star-accent1 [class^="icon-"]:before, .star-accent1 [class*=" icon-"]:before {
    color: {{ accent1_color }}!important;
}

.star-accent2 [class^="icon-"]:before, [class*=" icon-"].text-accent2:before {
    color: {{ accent2_color }}!important;
}

/* Footer with Blocks */

.footer-with-blocks a {
    text-transform: {{ type_nav_case }};
    color: {{ color_text }};
    text-decoration-color: transparent;
}

.footer-with-blocks a:hover {
    text-decoration-color: {{ accent1_color }};
    color: {{ accent1_color }};
}


.footer-with-blocks .text-inverse a:hover {
    text-decoration-color: {{ inverse_color_text }};
    color: {{ inverse_color_text }};
}

.footer-with-blocks .accordion-button {
    background-color: transparent;
    color: {{ color_text }};
    padding: 1rem 0rem;
}

.footer-with-blocks .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: {{ color_text }};
}

/* Multicolumn Footer with Text */

.muticolumn-footer-with-text .description-text,
.muticolumn-footer-with-text .copyright-text,
.muticolumn-footer-with-text .bottom-menu a {
    color: {{ color_text }};
    font-family: {{ type_base_font }};
}

.muticolumn-footer-with-text .text-inverse {
    color: {{ inverse_color_text }}!important;
}

.muticolumn-footer-with-text .bottom-menu a:hover {
    color: {{ accent1_color }};
}

.muticolumn-footer-with-text .social-icons a {
    transition: all 1s ease;
}

.muticolumn-footer-with-text .social-icons a:hover::before {
    border: solid 1px;
    padding: .25rem;
}

.text-default .accordion-button {
    color: {{ color_text }}!important;
}

.text-inverse .accordion-button {
    color: {{ inverse_color_text }}!important;
}

.text-default .accordion-button {
    color: {{ color_text }}!important;
}

.text-inverse .accordion-button {
    color: {{ inverse_color_text }}!important;
}

.bg-background1 .accordion-button {
    background-color: {{ background1_color }};
}

.bg-background2 .accordion-button {
    background-color: {{ background2_color }};
}

.bg-background3 .accordion-button {
    background-color: {{ background3_color }};
}

.bg-accent1 .accordion-button {
    background-color: {{ accent1_color }};
}

.bg-accent2 .accordion-button {
    background-color: {{ accent2_color }};
}

/* Header */

.homepage-only {
    display: none;
}

#page-index .homepage-only {
    display: block;
}

input#mobileNavSearch.col::placeholder {
    font-size: 1em;
    color: {{ color_text }};
}

input#mobileNavSearch.col.inverse::placeholder {
    font-size: 1em;
    color: {{ inverse_color_text }};
}

.desktopSearchbtn {
    border: none;
    background: #fff;
}

.navbar {
    padding: 1rem 1.5rem;
}

.navbar [class^="icon-"].icon-size-lg:before {
    font-size: 1.5rem;
}

.navbar .icon-Arrow:before font-size: 0.9rem;
    color: {{ accent1_color }};
}

@media screen and (max-width: 576px) {
    .navbar {
        padding: 1rem 0;
    }
}
        
.nav-link:focus,
.nav-link:hover, 
.nav-link:active {
    text-decoration: none;
    color: {{ accent1_color }};
}
        
.navbar-nav .nav-link {
    font-weight: 600;
    text-decoration-color: transparent;
    color: {{ color_text }};
    text-transform: {{ type_nav_case }};
    font-family: {{ type_nav_font }};

}

.navbar-nav .nav-link .text-inverse {
    text-decoration-color: transparent;
    color: {{ inverse_color_text }};
}
            
.navbar-nav .nav-link.inverse, .nav-link.inverse, .nav-link.text-inverse {
    color: {{ inverse_color_text }};
}
        
.dropdown-item {
    font-size: 0.875rem;
    text-decoration-color: transparent;
    text-transform: {{ type_nav_case }};
}
        
.dropdown-item:hover {
    background-color: transparent;
    color: {{ current.color_text }};
}
        
.dropdown-item.inverse:hover {
    background-color: transparent;
    color: {{ inverse_color_text }};
}
        
a.link-name-inverse, .dropdown-name-inverse {
    color: {{ inverse_color_text }}!important;;
}
        
span.link-name-inverse:hover {
    color: {{ inverse_color_text }};
}
        
span.link-name::after, span.dropdown-name::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease;
}
        
span.link-name:hover::after, span.dropdown-name:hover::after {
    width: 100%;
    height: 2px;
}
        
span.link-name-inverse::after, span.dropdown-name-inverse::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease;
}
        
span.link-name-inverse:hover::after, span.dropdown-name-inverse:hover::after {
    height: 2px;
    width: 100%;
}
        
a.nav-link.is-active span.link-name::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
        
a.nav-link.text-inverse.is-active {
    color: {{ inverse_color_text }}!important;
    opacity: 0.7;
}

a.nav-link.is-active span.link-name.hover-default::after {
    background-color: {{ color_text }}!important;
}

a.nav-link.is-active span.link-name.hover-inverse::after {
    background-color: {{ inverse_color_text }}!important;
}

a.nav-link.is-active span.link-name.hover-accent1::after {
    background-color: {{ accent1_color }}!important;
}

a.nav-link.is-active span.link-name.hover-accent2::after {
    background-color: {{ accent2_color }}!important;
}

a#navbarDropdown.nav-link.dropdown-toggle::after, a#navbarDropdownMobile.nav-link.dropdown-toggle::after {
    display: none;
}

.dropdown-arrow-container {
    transform: rotate(180deg);
    line-height: 1;
}
        
a#navbarDropdown.nav-link.show div.dropdown-arrow-container, a#navbarDropdownMobile.nav-link.show div.dropdown-arrow-container {
    transform: rotate(0deg)!important;
    transition: ease-in-out;
}
        
.dropdown-menu {
    border-radius: 0;
}
        
.dropdown-menu .text-inverse a {
    text-decoration-color: transparent;
}
        
.text-inverse a.dropdown-item {
text-decoration-color: transparent;
}

#header .dropdown-menu {
    min-width: 200px;
}

/*
#header .dropdown-menu .dropdown-item {
    border-bottom: solid 1px {{ accent2_color }};
}
*/

.offcanvas {
    position: absolute;
    height: 100vh;
}

.offcanvas .dropdown-menu {
border: 0;
}
        
#mobileHeader .dropdown-menu {
    background-color: transparent;
    border: 0;
}
        
#mobileHeader .offcanvas a.dropdown-item {
    color: {{ color_text }};
}

#mobileHeader .nav-link-btn {
    padding: 0.5rem 0.75rem;
}
        
.icon-cta-container {
    padding-top: 0.5rem;
}
        
.w-40 {
    width: 40%;
}

#menuIconHeader .open,
#menuIconHeader .close {
    font-weight: 600;
    font-family: {{ type_base_font }};
}

.menu-icon-toggler_text-default {
    color: {{ color_text }};
}

.menu-icon-toggler_text-inverse {
    color: {{ inverse_color_text }};
}

#menuIconHeader .icon-Burger:before {
    position: absolute;
    top: 3px;
    left: 0;
}

#menuIconHeader .offcanvas a.dropdown-item {
    color: {{ color_text }};
}

#menuIconHeader .offcanvas a.dropdown-item.text-inverse {
    color: {{ inverse_color_text }};
}

#menuIconHeader .navbar-toggler::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease;
}

#menuIconHeader .navbar-toggler:hover::after {
    height: 2px;
    width: 100%;
}

#menuIconHeader .navbar-toggler.hover-default::after {
    background-color: {{ color_text }}!important;
}

#menuIconHeader .navbar-toggler.hover-inverse::after {
    background-color: {{ inverse_color_text }}!important;
}

#menuIconHeader .navbar-toggler.hover-accent1::after {
    background-color: {{ accent1_color }}!important;
}

#menuIconHeader .navbar-toggler.hover-accent2::after {
    background-color: {{ accent2_color }}!important;
}

#menuIconHeader .btn-close_container::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    background-color: {{ accent1_color }}!important;
    bottom: -4px;
    left: 1rem;
    right: 0;
    transition: all 1s ease;
}

#menuIconHeader .btn-close_container:hover::after {
    height: 2px;
    width: 20%;
}

span.link-name::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: -4px;
    left: 0;
    right: 0;
    transition: all 1s ease;
}

span.link-name.hover-default::after, span.dropdown-name.hover-default::after {
    background-color: {{ color_text }}!important;
}

span.link-name.hover-inverse::after, span.dropdown-name.hover-inverse::after {
    background-color: {{ inverse_color_text }}!important;
}

span.link-name.hover-accent1::after, span.dropdown-name.hover-accent1::after {
    background-color: {{ accent1_color }}!important;
}

span.link-name.hover-accent2::after, span.dropdown-name.hover-accent2::after {
    background-color: {{ accent2_color }}!important;
}

span.link-name:hover::after {
    height: 2px;
    width: 100%;
}

#menuIconHeader .btn-close {
    padding: 0.35rem;
}

/*
#menuIconHeader .btn-close:after {
    content: 'CLOSE';
    position: absolute;
    display: inline-block;
    font-size: 1rem;
    left: 2.25rem;
    font-weight: 600;
    top: 0;
}
*/

/*
   
nav.navbar.main-nav.bg-transparent {
    height: 120px;
    margin-bottom: -120px;
}

@media screen and (max-width: 768px) {
    nav.navbar.main-nav.bg-transparent {
        height: 80px;
        margin-bottom: -80px;}
    }
}
*/
        
.navbar-toggler:focus {
    box-shadow: none;
}
        
#mobileHeader a.phone-icon {
    text-decoration-color: transparent;
}
        
#mobileHeader a.phone-icon:hover {
    text-decoration-color: {{ accent1_color }};
}

.text-inverse:hover {
    color: {{ inverse_color_text }};
}

/*
.text-section h2.text-default {
    color: {{ color_text }}
}
*/

.footer-blocks.text-default h4, .footer-blocks.text-default a {
    color: {{ color_text }}!important;
}

.text-default .social-icons a:hover {
    color: {{ color_text }}!important;
}

.text-inverse .social-icons a:hover {
    color: {{ inverse_color_text }}!important;
}

.overlay-black .mc-image:hover .mc-image_overlay {
    background-color: #00000099;
}

.overlay-background1 .mc-image:hover .mc-image_overlay {
    background-color: {{ background1_color }}99;
}

.overlay-background2 .mc-image:hover .mc-image_overlay {
    background-color: {{ background2_color }}99;
}

.overlay-background3 .mc-image:hover .mc-image_overlay {
    background-color: {{ background3_color }}99;
}

.overlay-accent1 .mc-image:hover .mc-image_overlay {
    background-color: {{ accent1_color }}99;
}

.overlay-accent2 .mc-image:hover .mc-image_overlay {
    background-color: {{ accent2_color }}99;
}

</style>
    
    
    {{ section_styles }}
    {{ section_scripts }}
</head>
<body id="page-{{ path | pageid }}">

<div id="wrapper" class="aos-init aos-animate">
    {% section header %}
    <main>
        {{ content_for_layout }}
    </main>
    {% section footer %}
</div>
</body>
</html>