{% if section.settings.overlay == "black" %}
{% assign tb_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign tb_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign tb_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign tb_hex = "{{ background3_color }}" %}
{% elsif section.settings.overlay == "accent1" %}
{% assign tb_hex = "{{ accent1_color }}" %}
{% elsif section.settings.overlay == "accent2" %}
{% assign tb_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.overlay_opacity == "0" %}
{% assign tb_opacity = "0" %}
{% elsif section.settings.overlay_opacity == "10" %}
{% assign tb_opacity = "0.1" %}
{% elsif section.settings.overlay_opacity == "20" %}
{% assign tb_opacity = "0.2" %}
{% elsif section.settings.overlay_opacity == "30" %}
{% assign tb_opacity = "0.3" %}
{% elsif section.settings.overlay_opacity == "40" %}
{% assign tb_opacity = "0.4" %}
{% elsif section.settings.overlay_opacity == "50" %}
{% assign tb_opacity = "0.5" %}
{% elsif section.settings.overlay_opacity == "60" %}
{% assign tb_opacity = "0.6" %}
{% elsif section.settings.overlay_opacity == "70" %}
{% assign tb_opacity = "0.7" %}
{% elsif section.settings.overlay_opacity == "80" %}
{% assign tb_opacity = "0.8" %}
{% elsif section.settings.overlay_opacity == "90" %}
{% assign tb_opacity = "0.9" %}
{% elsif section.settings.overlay_opacity == "100" %}
{% assign tb_opacity = "1" %}
{% endif %}

<section class="featured-masonry-blog section-{{ section.id }} bg-{{ section.settings.bg_color }} container-fluid g-0 my-{{ section.settings.margin }}">
    <div class="container{% if section.settings.fullwidth %}-fluid gx-0{%endif%}">
        
            
            <div class="row justify-content-{{ section.settings.alignment }} px-3">
            <div class="col-11 col-lg-6 text-{{ section.settings.alignment }}">
            {% if section.settings.heading != blank %}
            <h2 class="{% if section.settings.text == blank %}mb-5{%else%}mb-3{%endif%} {{ section.settings.heading_size }} text-{{ section.settings.alignment }}">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
            <div class="mb-5 text-{{ section.settings.text_color }} text-{{ section.settings.alignment }}">{{ section.settings.text }}</div>
            {% endif %}
            </div>
            </div>
            <div class="row featured-wrapper">
                
                {% paginate posts.featured by 3 %}
                {% for post in posts reversed %}
                
                    <div class="item post-list-item col-sm-4" onclick="location.href='{{ post.url }}'" data-aos="zoom-in" data-aos-duration="1000">
                        <div class="header-img" style="background-image: url({{ post.image_url | resize: '1600x1600' }});">
                            <div class="overlay"></div>
                        </div>
                        <div class="work-content">
                            <div class="tag">
                                {% for post_tag in post.tags %}
                               {% if forloop.last %}{{ post_tag.name }}{% else %}{{ post_tag.name }} |{% endif %}
                                {% endfor %}
                            </div>
                            
                            <div class="date mb-2">
                                {% if section.settings.date == true %}
                                {% if section.settings.date_format == "1" %}
                                        <span class="post-list-date small text-{{ section.settings.post_text_color }}">{{ post.published_at | date: "%B %d, %Y" }}</span>
                                        {%elsif section.settings.date_format == "2" %}
                                        <span class="post-list-date small text-{{ section.settings.post_text_color }}">{{ post.published_at | date: "%D" }}</span>
                                        {%else%}
                                        <span class="post-list-date small text-{{ section.settings.post_text_color }}">{{ post.published_at | date: "%F" }}</span>
                                        {% endif %}
                                {% endif %}
                            </div>
                            <h3 class="title text-{{ section.settings.post_text_color }}">{{ post.title }}</h3>
                            <span class="hover-effect"></span>
                        </div>
                    </div>
                
                {% endfor %}
                {% endpaginate %}
            </div>
    </div>
</section>

{% styles %}

{% if current_tag.slug != blank %}
.section-{{ section.id }} {
    display: none;
}
{% endif %}


.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.featured-masonry-blog .featured-wrapper {
    display: flex;
}

.featured-masonry-blog .featured-wrapper .post-list-item {
    width: 100%;
    margin-bottom: 0;
}

.featured-masonry-blog .featured-wrapper .post-list-item:nth-child(n+4) {
    display: none;
}

.featured-masonry-blog .featured-wrapper .post-list-item:first-child .header-img {
    height: 350px;
}

.featured-masonry-blog .featured-wrapper .post-list-item:nth-child(n+2) .header-img {
    height: 200px;
}

.featured-masonry-blog .post-list-item,
.featured-masonry-blog .header-post {
    margin-bottom: 2rem;
}

.featured-masonry-blog .post-list-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.featured-masonry-blog .post-list-item .header-img {
    position: relative;
    background-color: #dcf0ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
}

.featured-masonry-blog .post-list-item:hover .header-img {
    transform: scale(1.1);
}

.section-{{ section.id }} .post-list-item .header-img .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: {{ tb_hex }};
    opacity: {{ tb_opacity }};
}

.section-{{ section.id }} .post-list-item:hover .header-img .overlay {
    opacity: 0.6;
}

.featured-masonry-blog .post-list-item .work-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFFFFF;
    padding: 1rem;
    margin: 0 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: 0.5s;
}

.featured-masonry-blog .post-list-item:hover .work-content {
    margin-bottom: 1rem;
}

.featured-masonry-blog .post-list-item .hover-effect {
    transition: width 1s ease;
    width: 0;
}

.featured-masonry-blog .post-list-item:hover .hover-effect {
    border-bottom: 3px solid {{ accent1_color }};
    width: 80px;
}

.featured-masonry-blog .post-list-date, .featured-masonry-blog .tag {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .featured-masonry-blog .featured-wrapper {
        height: 700px;
        display: grid;
    }
    .featured-masonry-blog .featured-wrapper .post-list-item {
        padding: 0;
    }
    .featured-masonry-blog .featured-wrapper .post-list-item,
    .featured-masonry-blog .featured-wrapper .post-list-item .header-img.header-img {
        width: 100%;
        height: 100%;
    }
    .featured-masonry-blog .featured-wrapper .post-list-item .work-content {
        padding: 2rem 2rem 1rem;
        margin-left: 0;
        margin-right: 0;
    }
    .featured-masonry-blog .featured-wrapper .post-list-item .work-content .tag p {
        font-size: .8rem; 
    }
    .featured-masonry-blog .featured-wrapper .post-list-item .work-content .title {
        font-size: 1.375rem;
        line-height: 26px;
    }
    .featured-masonry-blog .featured-wrapper .post-list-item:first-child .work-content .title {
        font-size: 1.875rem;
        line-height: 43px;
    }
    .featured-masonry-blog .featured-wrapper .post-list-item:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }
   .featured-masonry-blog .featured-wrapper .post-list-item:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .featured-masonry-blog .featured-wrapper .post-list-item:last-child {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
}

{% endstyles %}

{% schema %}
{
"name": "Featured Masonry Blog",
"description": "Section that displays 3 of the latest posts tagged as featured. Requires a post tag with a slug of featured and posts assigned to it.",
"settings": [
{
"type": "header",
"content": "Section Settings"
},
{
"type": "checkbox",
"id": "fullwidth",
"label": "Full Width"
},
{
"type": "select",
"id": "margin",
"label": "Section Margin",
"default": "0",
"options": [
{
"label": "Large",
"value": "5"
},
{
"label": "Medium",
"value": "3"
},
{
"label": "Small",
"value": "1"
},
{
"label": "None",
"value": "0"
}]
},
{
"type": "select",
"id": "padding",
"label": "Padding",
"default": "120px",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "40px"
},
{
"label": "Medium",
"value": "80px"
},
{
"label": "Large",
"value": "120px"
}]
},
{
"type": "select",
"id": "bg_color",
"label": "Background Color",
"default": "background3",
"options": [
{
"label": "Background 1",
"value": "background1"
},
{
"label": "Background 2",
"value": "background2"
},
{
"label": "Background 3",
"value": "background3"
},
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
}
]
},
{
"type": "select",
"id": "alignment",
"label": "Text Alignment",
"default": "start",
"options": [
{
"label": "Left",
"value": "start"
},
{
"label": "Center",
"value": "center"
},
{
"label": "Right",
"value": "end"
}]
},
{
"type": "select",
"id": "text_color",
"label": "Text Color",
"default": "default",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
},
{
"type": "text",
"id": "heading",
"default": "Lorem Ipsum",
"label": "Heading"
},
{
"type": "select",
"id": "heading_size",
"label": "Heading Size",
"default": "h2",
"options": [
{
"label": "H1",
"value": "h1"
},
{
"label": "H2",
"value": "h2"
},
{
"label": "H3",
"value": "h3"
}
]
},
{
"type": "richtext",
"id": "text",
"label": "Text"
},
{
"type": "header",
"content": "Posts Settings"
},
{
"type": "select",
"id": "overlay",
"default": "black",
"label": "Overlay Color",
"options": [
{
"label": "Black",
"value": "black"
},
{
"label": "Background 1",
"value": "background1"
},
{
"label": "Background 2",
"value": "background2"
},
{
"label": "Background 3",
"value": "background3"
},
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
}
]
},
{
"type": "range",
"id": "overlay_opacity",
"label": "Overlay Opacity",
"default": 50,
"min": 0,
"max": 100,
"step": 10
},
{
"type": "select",
"id": "post_text_color",
"default": "inverse",
"label": "Card Text Color",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
},
{
"type": "checkbox",
"id": "date",
"default": true,
"label": "Show Publish Date"
},
{
"type": "select",
"id": "date_format",
"label": "Date Format",
"default": "3",
"options": [
{
"label": "August 23, 2001",
"value": "1"
},
{
"label": "08/23/01",
"value": "2"
},
{
"label": "2001-08-23",
"value": "3"
}]
}
]
}
{% endschema %}