<footer class="muticolumn-footer-with-text section-{{ section.id }} py-5 bg-{{ section.settings.background_color }} text-{{ section.settings.text_color }}{% if section.settings.show_top_border == true %} border-top-{{ section.settings.border_color }}{%endif%}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 p-4 ps-lg-0 pe-lg-5 pb-lg-5 text-{{ section.settings.logo_alignment }}">
            {% if section.settings.image == blank %}
            <a aria-label="LOGO - Go to {{ seo_title }}'s homepage" class="navbar-brand mx-0" href="/">
              LOGO</a>
             {% else %}
                <a href="{{ section.settings.image_link }}"><img class="mb-4 img-fluid" src="{{ section.settings.image | image_url }}" alt="{{ section.settings.logo_alt_text }}" style="height: {{ section.settings.logo_size }}px; width: auto" /></a>
            {% endif %}
            {% if section.settings.company_info != blank %}
            <div class="company-info">{{ section.settings.company_info }}</div>
            {% endif %}
            {% if section.settings.icons_show == true %}
            <div class="social-icons mt-5">
                {% if section.settings.instagram != blank %}
                <a target="_blank" href ="{{ block.instagram }}" aria-label="Visit our Instagram page" class="icon-instagram me-3"></a>
                {% endif %}
                {% if section.settings.fb != blank %}
                <a target="_blank" href ="{{ section.settings.fb }}" aria-label="Visit our Facebook page" class="icon-facebook me-3"></a>
                {% endif %}
                {% if section.settings.twitter != blank %}
                <a target="_blank" href ="{{ section.settings.twitter }}" aria-label="Visit our Twitter page" class="icon-twitter me-3"></a>
                {% endif %}
                {% if section.settings.pinterest != blank %}
                <a target="_blank"href ="{{ section.settings.pinterest }}" aria-label="Visit our Pinterest page" class="icon-pinterest me-3"></a>
                {% endif %}
                {% if section.settings.linkedin != blank %}
                <a target="_blank" href ="{{ section.settings.linkedin }}" aria-label="Visit our LinkedIn page" class="icon-linkedin-in me-3"></a>
                {% endif %}
                {% if section.settings.yelp != blank %}
                <a target="_blank" href ="{{ section.settings.yelp }}" aria-label="Visit our Yelp page" class="icon-yelp me-3"></a>
                {% endif %}
                {% if section.settings.tiktok != blank %}
                <a target="_blank" href ="{{ section.settings.tiktok }}" aria-label="Visit our TikTok page" class="icon-tiktok me-3"></a>
                {% endif %}
                {% if section.settings.youtube != blank %}
                <a target="_blank" href ="{{ section.settings.youtube }}" aria-label="Visit our Youtube page" class="icon-youtube me-3"></a>
                {% endif %}
            </div>
            {% endif %}
            </div>
            
            <div class="col-12 col-lg-8 p-4 px-lg-5">
                <div class="row flex-lg-nowrap footer-blocks bg-{{ section.settings.background_color }} text-{{ section.settings.text_color }}">
                {% for block in section['block_order'] %}
                <div class="col me-lg-4 pb-4 pb-lg-0 footer-block-col">
                    {% block %}
                </div>
                {% endfor %}
                </div>
                <div class="row my-4 description-text text-{{ section.settings.text_color }}">
                {% if section.settings.description_text != blank %}
                    <div class="col-12">
                        {{ section.settings.description_text }}
                    </div>
                {% endif %}
                </div>
                <div class="row mt-5">
                    <div class="col">
                    <div class="copyright-text d-lg-inline-block me-lg-3 mb-5 mb-lg-0 text-{{ section.settings.text_color }}">
                        {% if section.settings.custom_copyright != blank %}
                        {{ section.settings.custom_copyright }}
                        {% else %}
                        &copy; {{ 'now' | date: "%Y" }} {{ site.name }}. All rights reserved.
                        {% endif %}
                    </div>
                    {% if section.settings.bottom_menu != blank %}
                        {% for item in menus[section.settings.bottom_menu].menu_items %}
                        <div class="d-lg-inline-block me-lg-2 bottom-menu py-1 py-lg-0"><a class="text-{{ section.settings.text_color }}" href="{{ item.link }}">{{ item.name }}</a></div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
   
</footer>

{% schema %}
{
    "name": "Footer",
    "description": "A flexible, multicolumn footer that supports an image and multiple content types via blocks.",
    "max_blocks": 4,
    "settings": [
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "default": "background2",
            "options": [
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
                "type":"select",
                "id":"logo_alignment",
                "label":"Logo Block Alignment",
                "default": "start",
                "options": [
                    {
                        "label": "Left",
                        "value": "start"
                    },
                    {
                        "label": "Center",
                        "value": "center"
                    },
                    {
                        "label": "Right",
                        "value": "end"
                    }
                ]
            },
        {
            "type":"select",
            "id":"text_color",
            "label":"Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "logo_alt_text",
            "label": "Logo Alt Text"
        },
        {
            "type": "range",
            "id": "logo_size",
            "label": "Logo Size",
            "default": 100,
            "min": 50,
            "max": 150,
            "step": 5
            },
        {
            "type": "text",
            "id": "image_link",
            "label": "Logo Link"
        },
        {
            "type": "richtext",
            "id": "company_info",
            "label": "Company Information"
        },
        {
            "type": "checkbox",
            "id": "show_top_border",
            "label": "Show Top Border"
        },
        {
            "type": "select",
            "id": "border_color",
            "label": "Border Color",
            "options": [
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Background 2",
                    "value": "accent2"
                },
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "description_text",
            "label": "Description Text"
        },
        {
            "type": "richtext",
            "id": "custom_copyright",
            "label": "Custom Copyright Text"
        },
        {
            "type": "link_list",
            "id": "bottom_menu",
            "label": "Bottom Menu List"
        },
        {
            "type": "header",
            "content": "Social Settings"
        },
        {
            "type": "checkbox",
            "id": "icons_show",
            "default": true,
            "label": "Show Social Icons"
        },
        {
            "type": "text",
            "id": "instagram",
            "label": "Instagram URL"
        },
        {
            "type": "text",
            "id": "fb",
            "label": "Facebook URL"
        },
        {
            "type": "text",
            "id": "twitter",
            "label": "Twitter URL"
        },
        {
            "type": "text",
            "id": "pinterest",
            "label": "Pinterest URL"
        },
        {
            "type": "text",
            "id": "linkedin",
            "label": "LinkedIn URL"
        },
        {
            "type": "text",
            "id": "yelp",
            "label": "Yelp! URL"
        },
        {
            "type": "text",
            "id": "tiktok",
            "label": "TikTok URL"
        },
        {
            "type": "text",
            "id": "youtube",
            "label": "Youtube URL"
        }
    ],
    "blocks": [
        {
            "type": "link_list",
            "name": "link_list"
        },
        {
            "type": "text",
            "name": "text"
        }
    ]
}
{% endschema %}