{% if section.settings.label_font == "heading" %}
{% assign label_font = "{{ type_header_font }}" %}
{% elsif section.settings.label_font == "body" %}
{% assign label_font = "{{ type_base_font }}" %}
{% endif %}

{% if section.settings.form_text_color == "default" %}
{% assign label_color = "{{ color_text }}" %}
{% elsif section.settings.label_font == "inverse" %}
{% assign label_color = "{{ inverse_color_text }}" %}
{% elsif section.settings.label_font == "accent1" %}
{% assign label_color = "{{ accent1_color }}" %}
{% elsif section.settings.label_font == "accent2" %}
{% assign label_color = "{{ accent2_color }}" %}
{% endif %}

<div class="form-section container-fluid section-{{ section.id }} bg-{{ section.settings.background_color }} my-{{ section.settings.margin }} form-section_label-{{ section.settings.form_text_color }} input-{{ section.settings.form_input_bg }}">
    
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-lg-{{ section.settings.container_size }} text-{{ section.settings.alignment }}">
                {% if section.settings.text_placement == "outside" %}
                {% if section.settings.title != blank %}
                <h2 class="mb-4 text-{{ section.settings.text_color }}">{{ section.settings.title }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="form-text text-{{ section.settings.text_color }} mb-4">{{ section.settings.text }}</div>
                {% endif %}
                {% if section.settings.form != blank %}
                <div class="form-container bg-{{ section.settings.form_bg }} text-{{ section.settings.form_text_color }} form-btn_{{ section.settings.button_type }} p-5">
                {% if form_notice %}
                <div class='alert alert-success'>{{ form_notice }}<div class="alert-close d-block d-lg-inline-block ml-lg-4 mt-2 mt-lg-none"><a href="/contact">Dismiss 
                <span class="icon-Close"></span></a></div></div>
                {% elsif form_errors %}
                <div class='alert alert-danger'>
                    <ul>
                        {% for error in form_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% form {{ section.settings.form }} %}
                </div>
                {% endif %}
                {% elsif section.settings.text_placement == "inside" %}
                {% if section.settings.form != blank %}
                <div class="form-container bg-{{ section.settings.form_bg }} form-btn_{{ section.settings.button_type }} p-5">
                {% if section.settings.title != blank %}
                <h2 class="mb-4 text-{{ section.settings.text_color }}">{{ section.settings.title }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="form-text text-{{ section.settings.text_color }} mb-5">{{ section.settings.text }}</div>
                {% endif %}
                {% if form_notice %}
                <div class='alert alert-success'>{{ form_notice }}<div class="alert-close d-block d-lg-inline-block ml-lg-4 mt-2 mt-lg-none"><a href="/contact">Dismiss 
                <span class="icon-Close"></span></a></div></div>
                {% elsif form_errors %}
                <div class='alert alert-danger'>
                    <ul>
                        {% for error in form_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% form {{ section.settings.form }} %}
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% styles %}

.form-section input::placeholder, .form-section textarea::placeholder {
    color: transparent;
    opacity: 1;
}

.form-section input::-ms-input-placeholder, .form-section textarea::-ms-input-placeholder {
    color: transparent;
}
        
.submit-btn {
    border: none;
    width: 100%;
    font-family: {{ type_button_font }};
    font-size: 0.9em;
    text-transform: {{ type_btn_case }};
    font-weight: 500;
}

.search-list {
    border-bottom: solid 1px rgba(26,33,28,0.3);
    
    & a:hover {
        color: {{ color_text }};
    }
}

 .alert {
        margin-bottom: 1.5rem;
        position: relative;
        z-index: 9;
        text-align: center;
        color: {{ inverse_color_text }};
        background-color: {{ accent1_color }};
        font-weight: 600;
        font-size: 0.9em;
        padding: 1.2rem 1rem;
        width: 100%;
        border-radius: 0;
    }
    
.alert-close a {
        color: {{ inverse_color_text }};
        font-weight: 700;
}
    
    .alert-close a:hover {
        color: {{ inverse_color_text }};
    }
    
    .alert-close .icon-Close:before {
        font-size: 0.75rem;
    }

@media screen and (max-width: 576px) {

    .contact-form, .form-section {
        padding: 80px 20px;
    }
}


.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }} label {
    font-family:  {{ label_font }};
    text-transform: {{ section.settings.label_case }};
}

.form-btn_solid .submit-btn {
    border-color: {{ color_primary_button }};
    background-color: {{ color_primary_button }};
    color: {{ color_primary_button_label }};
    transition: all .5s ease;
    border-radius: {{ btn_border_radius }}px;
    transition: all .5s ease;
    
}

.form-btn_solid .submit-btn:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
    
}

.form-btn_outline .submit-btn {
    color: {{ color_primary_button }};
    background-color: transparent;
    background-image: none;
    border-color: {{ color_primary_button }};
    border-radius: {{ btn_border_radius }}px;
    transition: all .5s ease;
    border: solid 1px;
}

.form-btn_outline .submit-btn:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}

.form-btn_inverse-outline .submit-btn {
    color: {{ color_primary_button_label }};
    background-color: transparent;
    background-image: none;
    border-color: {{ color_primary_button_label }};
    border-radius: {{ btn_border_radius }}px;
    transition: all .5s ease;
    border: solid 1px;
}

.form-btn_inverse-outline .submit-btn:hover {
    color: {{ color_primary_button_label }};
    background-color: {{ color_hover_button }};
    border-color: {{ color_hover_button }};
}

.form-btn_default-text .submit-btn {
    font-weight: 400;
    background-color: transparent;
    padding: 0.5em 0;
    text-decoration-color: transparent;
    font-weight: 500;
    text-transform: none;
    transition: all .5s ease;
    color: {{ heading_color_text }};
}

.form-btn_default-text .submit-btn:after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.25em;
    position: relative;
    top: -0.07em;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 0.45em;
    color: {{ color_primary_button }};
}

.form-btn_default-text .submit-btn:hover {
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
    color: {{ color_primary_button }};
}

.form-btn_inverse-text .submit-btn {
    font-weight: 400;
    background-color: transparent;
    padding: 0.5em 0;
    text-decoration-color: transparent;
    font-weight: 500;
    text-transform: none;
    transition: all .5s ease;
    color: {{ inverse_color_text }};
}

.form-btn_inverse-text .submit-btn:after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.25em;
    position: relative;
    top: -0.07em;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 0.45em;
    color: {{ inverse_color_text }};
}

.form-btn_inverse-text .submit-btn:hover {
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
    color: {{ inverse_color_text }};
}

@media screen and (max-width: 576px) {
    .form-section {
        padding: 80px 20px;
    }
}

.form-section_label-default label, .form-section_label-default .form-control {
    color: {{ color_text }};
}


.form-section_label-inverse label, .form-section_label-inverse .form-control {
    color: {{ inverse_color_text }};
}

.form-section_label-accent1 label, .form-section_label-accent1 .form-control {
    color: {{ accent1_color }};
}

.form-section_label-accent2 label, .form-section_label-accent2 .form-control {
    color: {{ accent2_color }};
}

.input-background1 .form-control {
    background-color: {{ background1_color }}33;
}

.input-background2 .form-control {
    background-color: {{ background2_color }}33;
}

.input-background3 .form-control {
    background-color: {{ background3_color }}33;
}

.input-accent1 .form-control {
    background-color: {{ accent1_color }}33;
}

.input-accent2 .form-control {
    background-color: {{ accent2_color }}33;
}

{% endstyles %}

{% schema %}
{
    "name": "Contact Form",
    "description": "Section for inserting the contact form in a page with customizable background. Will require the form's slug",
    "settings": [
        {
            "type": "header",
            "content": "Section Settings"
        },
        {
            "type": "select",
            "id": "margin",
            "label": "Section Margin",
            "default": "0",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "1"
            },
            {
                "label": "Medium",
                "value": "3"
            },
            {
                "label": "Large",
                "value": "5"
            }]
        },
        {
        "type": "select",
        "id": "padding",
        "label": "Section Padding",
        "default": "80px",
        "options": [
        {
        "label": "None",
        "value": "0"
        },
        {
        "label": "Small",
        "value": "40px"
        },
        {
        "label": "Medium",
        "value": "80px"
        },
        {
        "label": "Large",
        "value": "120px"
        }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "6",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
            {
                "label": "Left",
                "value": "start"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "end"
            }]
        },
        {
            "type": "select",
            "id": "background_color",
            "label": "Section Background Color",
            "default": "background2",
            "options": [
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_placement",
            "label": "Text Position",
            "default": "outside",
            "options": [
                {
                    "label": "Outside Form Container",
                    "value": "outside"
                },
                {
                    "label": "Inside Form Container",
                    "value": "inside"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "default": "Lorem ipsum",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Content"
        },
        {
            "type": "header",
            "content": "Form Settings"
        },
        {
            "type": "form_picker",
            "id": "form",
            "default": "contact-form",
            "label": "Select Form"
        },
        {
            "type": "select",
            "id": "form_bg",
            "label": "Form Background Color",
            "default": "background1",
            "options": [
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
            "type": "select",
            "id": "form_input_bg",
            "label": "Form Input Background Color",
            "default": "background3",
            "options": [
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
            "type": "select",
            "id": "form_text_color",
            "label": "Form Label Color",
            "default": "inverse",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
            "type": "select",
            "id": "label_font",
            "label": "Form Label Font",
            "default": "heading",
            "options": [
                {
                    "label": "Header Font",
                    "value": "heading"
                },
                {
                    "label": "Body Font",
                    "value": "body"
                }
            ]
        },
        {
            "type": "select",
            "id": "label_case",
            "label": "Form Label Case",
            "default": "capitalize",
            "options": [
                {
                    "label": "Uppercase",
                    "value": "uppercase"
                },
                {
                    "label": "Lowercase",
                    "value": "lowercase"
                },
                {
                    "label": "Capitalize",
                    "value": "capitalize"
                }
            ]
        },
        {
           "type": "select",
           "id": "button_type",
           "label": "Submit Button Type",
           "default": "inverse-outline",
           "options": [
                    {
                        "label": "Solid",
                        "value": "solid"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Inverse Outline",
                        "value": "inverse-outline"
                    },
                    {
                        "label": "Default Text",
                        "value": "default-text"
                    },
                    {
                        "label": "Inverse Text",
                        "value": "inverse-text"
                    }]
       }
    ]
}
{% endschema %}