<div class="header{% if section.settings.background_color == "transparent" %} transparent-menu{% endif %}">
    {% if section.settings.message == true %}
    <div class="announcement-bar{% if section.settings.home_page_only == true %} homepage-only{% endif %} bg-{{ section.settings.announcement_bg }} text-{{ section.settings.announcement_text_color }} text-center">
        <div class="container py-2">
            {% if section.settings.message_link != blank %}
            <a href='{{ section.settings.message_link }}'>{{ section.settings.message_text }}</a>
            {% else %}
            {{ section.settings.message_text }}
            {% endif %}
        </div>
    </div>
    {% endif %}

{% if section.settings.menu_style == 'menu_icon' %}
    
    <div id="menuIconHeader" class="show-desktop">
        <nav class="navbar main-nav bg-{{ section.settings.background_color }} text-{{ section.settings.links_color }}"{% if section.settings.bottom_border == true %} style="border-bottom: solid 2px {{ section.settings.bottom_border_color }}"{%endif%}>
        <div class="container{% if section.settings.fullwidth %}-fluid{% endif %}">
            <div class="offcanvas-button d-flex{% if section.settings.logo_alignment == "center" %} justify-content-start w-40{% else %} justify-content-center{%endif%} align-items-center">
            <button aria-label="Mobile Menu Toggle" class="navbar-toggler position-relative hover-{{ section.settings.icon_color }}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="icon-Burger text-{{ section.settings.icon_color }}"></span><span class="open ms-3 menu-icon-toggler_text-{{ section.settings.links_color }}">MENU</span>
            </button>
            <div class="offcanvas offcanvas-start px-5 py-5 bg-{{ section.settings.drawer_background_color }}" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="row top">
                <div class="col d-flex align-items-center position-relative">
                <div class="btn-close_container navbar-toggler hover-{{ section.settings.drawer_icon_color }}">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    <span class="icon-Close text-{{ section.settings.drawer_icon_color }}"></span><span class="close-text menu-icon-toggler_text-{{ section.settings.drawer_links_color }}">CLOSE</span>
                </button>
                </div>
                </div>
                
                </div>
                    <ul class="nav navbar-nav w-100 my-3">
                    {% if section.settings.search == true %}
                    <li class="nav-item pb-2 mb-2 border-bottom">
                    <form action="/search" class="search-form">
                    <label for="mobileNavSearch" class="nav-link text-default mt-3 text-{{ section.settings.drawer_links_color }}">Search</label>
                    <div class="d-flex flex-grow position-relative w-100">
                    <input id="mobileNavSearch" class="col" type="text" name="q" placeholder=""  />
                    <button class="btn-icon search icon-Search position-absolute text-{{ section.settings.icon_color }}" style="padding: 0.5em; right: 0;" type="submit" title="Search"></button>
                    </div>
                    </form>
                    </li>
                    {% endif %}
            
                    {% for item in menus[section.settings.main_menu].menu_items %}
                    {% if item.children != blank %}
                    <li class="nav-item dropdown d-flex flex-wrap">
                      <a class="nav-link dropdown-toggle my-2 d-flex justify-content-between align-items-center w-100 text-{{ section.settings.drawer_links_color }}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="dropdown-name position-relative hover-{{ section.settings.drawer_icon_color }}">{{ item.name }}</span><div class="d-inline-block ms-2 dropdown-arrow-container"><span class="icon-Arrow text-{{ section.settings.icon_color }}"></span></div>
                      </a>
                      <ul class="dropdown-menu my-2 w-100 bg-{{ section.settings.drawer_background_color }}" aria-labelledby="navbarDropdown">
                         {% for child in item.children %}
                        <li><a class="dropdown-item text-default position-relative text-{{ section.settings.drawer_links_color }} hover-{{ section.settings.drawer_icon_color }}" href="{{ child.link }}"{% if item.new_window %} target="_blank"{%endif%}><span class="link-name position-relative text-{{ section.settings.drawer_links_color }} hover-{{ section.settings.drawer_icon_color }}">{{ child.name }}</span></a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% else %}
                        {% if item.name == "Home" %}
                        <li class="nav-item home-link">
                            <a class="nav-link my-2 text-{{ section.settings.drawer_links_color }}" href="{{ item.link }}"><span class="link-name position-relative hover-{{ section.settings.drawer_icon_color }}">{{ item.name }}</span></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link my-2 text-{{ section.settings.drawer_links_color }}" href="{{ item.link }}"><span class="link-name position-relative hover-{{ section.settings.drawer_icon_color }}">{{ item.name }}</span></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if section.settings.phone != blank %}
                    <a class="nav-link my-2 me-3 text-{{ section.settings.drawer_links_color }}" href="tel:{{ section.settings.phone | | remove: ' ' | | remove: '(' | | remove: ')' | | remove: '-' | | remove: '.' }}"><span class="icon-Call me-2 text-{{ section.settings.drawer_icon_color }}"></span><span class="link-name position-relative hover-{{ section.settings.drawer_icon_color }}">{{ section.settings.phone }}</span></a>
                    {% endif %}
                </ul>
            </div>
            </div>
             <div class="logo d-flex{% if section.settings.logo_alignment == "left" %} order-first justify-content-start w-40{%else%} order-2 justify-content-center{% endif %}" style="max-width: 350px;">
             {% if section.settings.logo == blank %}
            <a aria-label="LOGO - Go to {{ seo_title }}'s homepage" class="navbar-brand mx-0" href="/">
              LOGO</a>
                {% else %}
                     <a aria-label="LOGO - Go to {{ seo_title }}'s homepage" class="navbar-brand order-first order-md-0 mx-0" href="/">
                         <img alt="{% if section.settings.logo_alt != blank %}{{ section.settings.logo_alt }}{%else%}Go to {{ seo_title }} Homepage{% endif %}" class="desktop-logo" src="{{ section.settings.logo | image_url }}" style="height: {{ section.settings.logo_size }}; width: auto; max-height: 80px;" />
               </a>
                {% endif %}
            </div>
            <div class="navbar-expand d-flex {%if section.settings.logo_aligment == 'left' %}w-100{%else%}w-40{%endif%} justify-content-end order-last icon-cta-container"{% if section.settings.logo_alignment == 'left' %} style="max-width: 350px;"{% endif %}>
                <div class="nav navbar-nav ms-auto align-items-center">
                    {% if section.settings.search == true %}
                        <div class="d-inline-block{% if section.settings.phone == blank %} me-lg-3{% endif %}">
                        <a class="nav-icon-link" aria-label="Search site" href="/search"><span class="icon-Search text-{{ section.settings.icon_color }} nav-link{% if section.settings.phone == blank %} icon-size-lg{% endif %}"></span></a>
                        </div>
                    {% endif %}
                    {% if section.settings.phone != blank %}
                        <div class="d-inline-block">
                        <a class="nav-link{% if section.settings.links_color == "inverse" %} inverse{% endif %} me-3" href="tel:{{ section.settings.phone | | remove: ' ' | | remove: '(' | | remove: ')' | | remove: '-' | | remove: '.' }}"><span class="icon-Call text-{{ section.settings.icon_color }} me-2"></span><span class="link-name position-relative hover-{{ section.settings.drawer_icon_color }}">{{ section.settings.phone }}</span></a>
                        </div>
                    {% endif %}
                    {% if section.settings.nav_btn_text != blank %}
                        <div class="d-inline-block">
                        <a aria-label="Go to {{ section.settings.nav_btn_text }}" class="nav-link-btn btn btn-{{ section.settings.nav_btn_type }}" href="{{ section.settings.nav_btn_link }}">{{ section.settings.nav_btn_text }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    
    </div>
    
    {% else %}
    
    <header id="header">
        <nav class="navbar navbar-expand-md main-nav bg-{{ section.settings.background_color }} text-{{ section.settings.links_color }}" style="min-height: 85px;{% if section.settings.bottom_border == true %} border-bottom: solid 2px {{ section.settings.bottom_border_color }}{%endif%}">
        <div class="container{% if section.settings.fullwidth == true %}-fluid{% endif %}">
            <button aria-label="Desktop Toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse {%if section.settings.logo_aligment == 'left' %}w-100{%else%}w-40{%endif%}{% if section.settings.logo_alignment == "left" %} order-2{%else%} order-first{%endif%} links-container">
                <ul id="navlinkContainer" class="nav navbar-nav w-100{% if section.settings.logo_alignment == "left" %} justify-content-center{%endif%}">
                    {% for item in menus[section.settings.main_menu].menu_items %}
                    {% if item.children != blank %}
                    <li class="nav-item mx-1 dropdown">
                      <a class="nav-link{% if section.settings.links_color == "inverse" %} inverse{% endif %} dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="dropdown-name position-relative hover-{{ section.settings.icon_color }}">{{ item.name }}</span><div class="d-inline-block ms-2 dropdown-arrow-container"><span class="icon-Arrow text-{{ section.settings.icon_color }}"></span></div>
                      </a>
                      <ul class="dropdown-menu bg-{{ section.settings.drawer_background_color }} text-{{ section.settings.drawer_links_color }} mt-3 py-3" aria-labelledby="navbarDropdown">
                         {% for child in item.children %}
                        <li><a class="dropdown-item text-{{ section.settings.drawer_links_color }}" href="{{ child.link }}"{% if item.new_window %} target="_blank"{%endif%}><span class="link-name position-relative hover-{{ section.settings.drawer_icon_color }}">{{ child.name }}</span></a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% else %}
                        {% if item.name == "Home" %}
                        <li class="nav-item mx-1 home-link">
                            <a class="nav-link{% if section.settings.links_color == "inverse" %} inverse{% endif %}" href="{{ item.link }}"><span class="link-name position-relative hover-{{ section.settings.icon_color }}">{{ item.name }}</span></a>
                        </li>
                        {% else %}
                        <li class="nav-item mx-1">
                            <a class="nav-link{% if section.settings.links_color == "inverse" %} inverse{% endif %}" href="{{ item.link }}"><span class="link-name position-relative hover-{{ section.settings.icon_color }}">{{ item.name }}</span></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="logo d-flex{% if section.settings.logo_alignment == "left" %} order-first justify-content-start{%else%} order-2 justify-content-center{% endif %} w-100" style="max-width: 350px;">
             {% if section.settings.logo == blank %}
            <a aria-label="LOGO - Go to {{ seo_title }}'s homepage" class="navbar-brand mx-0" href="/">
              LOGO</a>
                {% else %}
                     <a aria-label="LOGO - Go to {{ seo_title }}'s homepage" class="navbar-brand order-first order-md-0 mx-0" href="/">
                         <img alt="{% if section.settings.logo_alt != blank %}{{ section.settings.logo_alt }}{%else%}Go to {{ seo_title }} Homepage{% endif %}" class="desktop-logo" src="{{ section.settings.logo | image_url }}" style="height: {{ section.settings.logo_size }}; width: auto; max-height: 80px;" />
                {% endif %}</a>
            </div>
            <div class="collapse navbar-collapse {%if section.settings.logo_aligment == 'left' %}w-100{%else%}w-40{%endif%} justify-content-end order-last icon-cta-container"{% if section.settings.logo_alignment == 'left' %} style="max-width: 350px;"{% endif %}>
                <div class="nav navbar-nav ms-auto">
                    {% if section.settings.search == true %}
                        <div class="d-inline-block{% if section.settings.phone == blank %} me-lg-3{% endif %}">
                        <a class="nav-icon-link" aria-label="Search site" href="/search"><span class="icon-Search nav-link text-{{ section.settings.icon_color }}{% if section.settings.phone == blank %} icon-size-lg{% endif %}"></span></a>
                        </div>
                    {% endif %}
                    {% if section.settings.phone != blank %}
                        <div class="d-inline-block">
                        <a class="nav-link{% if section.settings.links_color == "inverse" %} inverse{% endif %} me-3" href="tel:{{ section.settings.phone | | remove: ' ' | | remove: '(' | | remove: ')' | | remove: '-' | | remove: '.' }}"><span class="icon-Call text-{{ section.settings.icon_color }} me-2"></span><span class="link-name position-relative hover-{{ section.settings.icon_color }}">{{ section.settings.phone }}</span></a>
                        </div>
                    {% endif %}
                    {% if section.settings.nav_btn_text != blank %}
                        <div class="d-inline-block">
                        <a aria-label="Go to {{ section.settings.nav_btn_text }}" class="nav-link-btn btn btn-{{ section.settings.nav_btn_type }}" href="{{ section.settings.nav_btn_link }}">{{ section.settings.nav_btn_text }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    
    </header>
    </div>
    
    {% endif %}
    
    <div id="mobileHeader"{% if section.settings.background_color == "transparent" %} class="transparent-menu"{% endif %}>
        <nav class="navbar navbar-expand-xl main-nav bg-{{ section.settings.background_color }} text-{{ section.settings.links_color }}"{% if section.settings.bottom_border == true %} style="border-bottom: solid 2px {{ section.settings.bottom_border_color }}"{%endif%}>
        <div class="container-fluid gx-0">
            <button aria-label="Mobile Menu Toggle" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMobile" aria-controls="offcanvasExample">
                <span class="icon-Burger text-{{ section.settings.icon_color }} icon-size-lg"></span>
            </button>
            <div class="offcanvas offcanvas-start w-100 py-1 bg-{{ section.settings.drawer_background_color }}" tabindex="-1" id="offcanvasMobile" aria-labelledby="offcanvasMobileLabel">
                <div class="container-fluid d-flex nav-container" style="padding: 1rem 1.5rem;">
                <button type="button" class="navbar-toggler" data-bs-dismiss="offcanvas" aria-label="Close">
                    <span class="icon-Close text-{{ section.settings.drawer_icon_color }}"></span>
                </button>
                <div class="col d-flex align-items-center">
                <a aria-label="LOGO - Go to {{ seo_title }}'s homepage" class="navbar-brand mx-0 ms-3" href="/">
                {% if section.settings.mobile_logo != blank %}
                   <img alt="Go to {{ seo_title }}'s Homepage" class="mobile-logo" src="{{ section.settings.mobile_logo | image_url }}" />
                {% elsif section.settings.logo != blank %}
                    <img alt="Go to {{ seo_title }}'s Homepage" class="mobile-logo" src="{{ section.settings.logo | image_url }}" />
                {% else %}
                    LOGO
                {% endif %}</a>
                </div>
                {% if section.settings.nav_btn_text != blank %}
                <div class="col d-flex align-items-center justify-content-end">
                {% if section.settings.phone_icon == true %}
                <a aria-label="Call us" class="nav-link phone-icon" href="tel:{{ section.settings.phone | | remove: ' ' | | remove: '(' | | remove: ')' | | remove: '-' | | remove: '.' }}"><span class="icon-Call me-2 icon-size-lg text-{{ section.settings.drawer_icon_color }}"></span></a>
                {% else %}
                   <a aria-label="Go to {{ section.settings.nav_btn_text }} page (mobile)" class="nav-link-btn btn btn-{{ section.settings.nav_btn_type }}" href="{{ section.settings.nav_btn_link }}">{{ section.settings.nav_btn_text }}</a>
                {% endif %}
                </div>
                {% endif %}
                </div>
                <div class="container-fluid px-4">
                    <ul class="nav navbar-nav w-100 my-3">
                    {% if section.settings.search == true %}
                    <li class="nav-item">
                    <form action="/search" class="search-form">
                    <label for="mobileNavSearch" class="nav-link mt-3 text-{{ section.settings.drawer_links_color }}">Search</label>
                    <div class="d-flex flex-grow position-relative w-100">
                    <input id="mobileNavSearch" class="col" type="text" name="q" placeholder=""  />
                    <button class="btn-icon search icon-Search position-absolute text-{{ section.settings.drawer_icon_color }}" style="padding: 0.5em; right: 0;" type="submit" title="Search"></button>
                   <!-- <button class="btn btn-solid" type="submit" title="Search">Search</button> -->
                    </div>
                    </form>
                    </li>
                    {% endif %}
            
                    {% for item in menus[section.settings.main_menu].menu_items %}
                    {% if item.children != blank %}
                    <li class="nav-item dropdown d-flex flex-wrap">
                      <a class="nav-link dropdown-toggle my-2 d-flex justify-content-start align-items-center w-100 text-{{ section.settings.drawer_links_color }}" href="#" id="navbarDropdownMobile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="dropdown-name position-relative hover-{{ section.settings.drawer_icon_color }}">{{ item.name }}</span><span class="d-inline-block ms-2 dropdown-arrow-container"><span class="icon-Arrow text-{{ section.settings.icon_color }}"></span></span>
                      </a>
                      <ul class="dropdown-menu my-2 w-100" aria-labelledby="navbarDropdownMobile">
                         {% for child in item.children %}
                        <li><a class="dropdown-item position-relative text-{{ section.settings.drawer_links_color }} hover-{{ section.settings.drawer_icon_color }}" href="{{ child.link }}"{% if item.new_window %} target="_blank"{%endif%}><span class="link-name position-relative text-{{ section.settings.drawer_links_color }} hover-{{ section.settings.drawer_icon_color }}">{{ child.name }}</span></a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% else %}
                        {% if item.name == "Home" %}
                        <li class="nav-item home-link">
                            <a class="nav-link text-{{ section.settings.drawer_links_color }} my-2" href="{{ item.link }}"><span class="link-name position-relative hover-{{ section.settings.drawer_icon_color }}">{{ item.name }}</span></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-{{ section.settings.drawer_links_color }} my-2" href="{{ item.link }}"><span class="link-name position-relative hover-{{ section.settings.drawer_icon_color }}">{{ item.name }}</span></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if section.settings.phone != blank and section.settings.phone_icon == false %}
                    <a class="nav-link text-{{ section.settings.drawer_links_color }} my-2 me-3" href="tel:{{ section.settings.phone | | remove: ' ' | | remove: '(' | | remove: ')' | | remove: '-' | | remove: '.' }}"><span class="icon-Call text-{{ section.settings.drawer_icon_color }} me-2"></span><span class="link-name position-relative">{{ section.settings.phone }}</span></a>
                    {% endif %}
                </ul>
                </div>
            </div>
            <div class="col d-flex align-items-center">
                
                <a aria-label="LOGO - Go to {{ seo_title }}'s homepage" class="navbar-brand mx-0 ms-3" href="/">
                {% if section.settings.logo == blank and section.settings.mobile_logo == blank %}
                    <div class="mobile-logo">LOGO</div>
                {% elsif section.settings.mobile_logo != blank %}
                    <img alt="{% if section.settings.logo_alt != blank %}{{ section.settings.logo_alt }}{%else%}Go to {{ seo_title }} Homepage{% endif %}" class="mobile-logo" src="{{ section.settings.mobile_logo | image_url }}" />
                {% else %}
                    <img alt="{% if section.settings.logo_alt != blank %}{{ section.settings.logo_alt }}{%else%}Go to {{ seo_title }} Homepage{% endif %}" class="mobile-logo" src="{{ section.settings.logo | image_url }}" />
                {% endif %}</a>
                </div>
                {% if section.settings.nav_btn_text != blank %}
                <div class="col d-flex align-items-center justify-content-end">
                {% if section.settings.phone_icon == true %}
                <a aria-label="Call us" class="nav-link phone-icon" href="tel:{{ section.settings.phone | | remove: ' ' | | remove: '(' | | remove: ')' | | remove: '-' | | remove: '.' }}"><span class="icon-Call me-2 icon-size-lg text-{{ section.settings.icon_color }}"></span></a>
                {% else %}
                <a aria-label="Go to {{ section.settings.nav_btn_text }} page (mobile)" class="nav-link-btn btn btn-{{ section.settings.nav_btn_type }}" href="{{ section.settings.nav_btn_link }}">{{ section.settings.nav_btn_text }}</a>
                {% endif %}
                </div>
                {% endif %}
        </div>
    </nav>
    
    </div>


{% styles %}

{% if section.settings.background_color == "transparent" %}
#menuIconHeader .navbar, #header .navbar {
    height: 125px;
}

.transparent-menu #menuIconHeader , #header .transparent-menu {
    margin-bottom: -125px;
}

@media screen and (max-width: 1024px) {
    #menuIconHeader .transparent-menu, #header .transparent-menu {
        margin-bottom: 0;
    }
    
    #mobileHeader .navbar, #mobileHeader.transparent-menu .offcanvas .nav-container {
        height: 80px;
    }
    
    #mobileHeader.transparent-menu {
        margin-bottom: -80px;
    }
}
{% endif %}

{% endstyles %}


    {% schema %}
        {
            "name":"Header",
            "description": "A flexible header that supports an optional transparent background for an immersive look. The navigation menu can support both a compact mobile style menu on desktop devices or classic inline links.",
            "settings":[
            {
                "type":"header",
                "content":"Announcement Bar Settings"
            },
            {
                "type":"checkbox",
                "id":"message",
                "label":"Show announcement",
                "default":false
            },
            {
                "type":"checkbox",
                "id":"home_page_only",
                "label":"Home page only",
                "default":true
            },
            {
                "type":"richtext",
                "id":"message_text",
                "label":"Announcement"
            },
            {
                "type":"url",
                "id":"message_link",
                "label":"Announcement Link",
                "info":"Optional"
            },
            {
                "type":"select",
                "id":"announcement_bg",
                "label":"Announcement BG Color",
                "default": "accent1",
                "options": [
                    {
                        "label": "Background 1",
                        "value": "background1"
                    },
                    {
                        "label": "Background 2",
                        "value": "background2"
                    },
                    {
                        "label": "Background 3",
                        "value": "background3"
                    },
                    {
                        "label": "Accent 1",
                        "value": "accent1"
                    },
                    {
                        "label": "Accent 2",
                        "value": "accent2"
                    }
                ]
            },
            {
                "type":"select",
                "id":"announcement_text_color",
                "label":"Announcement Text Color",
                "default": "inverse",
                "options": [
                    {
                        "label": "Default",
                        "value": "default"
                    },
                    {
                        "label": "Inverse",
                        "value": "inverse"
                    }
                ]
            },
            {
                "type":"header",
                "content":"Header Settings"
            },
            {
               "type": "checkbox",
               "id": "fullwidth",
               "label": "Full Width"
            },
            {
                "type": "select",
                "id": "menu_style",
                "label": "Menu Style",
                "default": "inline_links",
                "options": [
                    {
                        "label": "Menu Icon",
                        "value": "menu_icon"
                    },
                    {
                        "label": "Inline Links",
                        "value": "inline_links"
                    }
                ]
            },
            {
                "type": "select",
                "id": "background_color",
                "label": "Background Color",
                "default": "background1",
                "options": [
                    {
                        "label": "Transparent",
                        "value": "transparent"
                    },
                    {
                        "label": "Background 1",
                        "value": "background1"
                    },
                    {
                        "label": "Background 2",
                        "value": "background2"
                    },
                    {
                        "label": "Background 3",
                        "value": "background3"
                    },
                    {
                        "label": "Accent 1",
                        "value": "accent1"
                    },
                    {
                        "label": "Accent 2",
                        "value": "accent2"
                    }
                ]
            },
            {
                "type":"select",
                "id":"links_color",
                "label":"Links Color",
                "default": "default",
                "options": [
                    {
                        "label": "Default",
                        "value": "default"
                    },
                    {
                        "label": "Inverse",
                        "value": "inverse"
                    }
                ]
            },
            {
                "type":"select",
                "id":"icon_color",
                "label":"Icon Color",
                "default": "accent1",
                "options": [
                    {
                        "label": "Default",
                        "value": "default"
                    },
                    {
                        "label": "Inverse",
                        "value": "inverse"
                    },
                    {
                        "label": "Accent 1",
                        "value": "accent1"
                    },
                    {
                        "label": "Accent 2",
                        "value": "accent2"
                    }
                ]
            },
            {
                    "type": "link_list",
                    "id": "main_menu",
                    "default": "main",
                    "label": "Main Menu List"
            },
            {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo"
            },
            {
                    "type": "text",
                    "id": "logo_alt",
                    "label": "Logo Alt Text"
            },
            {
                    "type": "range",
                    "id": "logo_size",
                    "label": "Logo Size",
                    "default": 80,
                    "min": 50,
                    "max": 80,
                    "step": 5
            },
            {
                "type":"select",
                "id":"logo_alignment",
                "label":"Logo Position",
                "default": "center",
                "options": [
                    {
                        "label": "Left",
                        "value": "left"
                    },
                    {
                        "label": "Center",
                        "value": "center"
                    }
                ]
            },
            {
                    "type": "checkbox",
                    "id": "search",
                    "label": "Show Search",
                    "default": true
            },
            {
                    "type": "text",
                    "id": "phone",
                    "default": "555-555-5555",
                    "label": "Phone Number"
            },
            {
                    "type": "text",
                    "id": "nav_btn_text",
                    "default": "Contact",
                    "label": "Button Text"
            },
            {
                    "type": "text",
                    "id": "nav_btn_link",
                    "label": "Button Link"
            },
            {
                    "type": "select",
                    "id": "nav_btn_type",
                    "label": "Button Type",
                    "default": "solid",
                    "options": [
                    {
                        "label": "Solid",
                        "value": "solid"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Inverse Outline",
                        "value": "inverse-outline"
                    },
                    {
                        "label": "Default Text",
                        "value": "default-text"
                    },
                    {
                        "label": "Inverse Text",
                        "value": "inverse-text"
                    }
                ]
            },
            {
                    "type": "checkbox",
                    "id": "bottom_border",
                    "label": "Show Bottom Border",
                    "default": false
            },
            {
                    "type": "color",
                    "id": "bottom_border_color",
                    "label": "Bottom Border Color"
            },
            {
                "type":"header",
                "content":"Menu Drawer Settings"
            },
            {
                    "type": "image_picker",
                    "id": "mobile_logo",
                    "label": "Mobile Logo"
            },
            {
                "type": "select",
                "id": "drawer_background_color",
                "label": "Menu Drawer Background Color",
                "default": "background1",
                "options": [
                    {
                        "label": "Transparent",
                        "value": "transparent"
                    },
                    {
                        "label": "Background 1",
                        "value": "background1"
                    },
                    {
                        "label": "Background 2",
                        "value": "background2"
                    },
                    {
                        "label": "Background 3",
                        "value": "background3"
                    },
                    {
                        "label": "Accent 1",
                        "value": "accent1"
                    },
                    {
                        "label": "Accent 2",
                        "value": "accent2"
                    }
                ]
            },
            {
                "type":"select",
                "id":"drawer_links_color",
                "label":"Menu Drawer Links Color",
                "default": "default",
                "options": [
                    {
                        "label": "Default",
                        "value": "default"
                    },
                    {
                        "label": "Inverse",
                        "value": "inverse"
                    }
                ]
            },
            {
                "type":"select",
                "id":"drawer_icon_color",
                "label":"Menu Drawer Icon Color",
                "default": "accent1",
                "options": [
                    {
                        "label": "Default",
                        "value": "default"
                    },
                    {
                        "label": "Inverse",
                        "value": "inverse"
                    },
                    {
                        "label": "Accent 1",
                        "value": "accent1"
                    },
                    {
                        "label": "Accent 2",
                        "value": "accent2"
                    }
                ]
            },
            {
                    "type": "checkbox",
                    "id": "phone_icon",
                    "label": "Show Phone Icon on Mobile",
                    "default": false
            }
            ]
        }
    {% endschema %}