<div class="multicolumn-testimonial section-{{ section.id }} container-fluid bg-{{ section.settings.bg_color }} my-{{ section.settings.margin }} gx-0">
    <div class="container{% if section.settings.fullwidth %}-fluid gx-0{%endif%}">
    <div class="row justify-content-{{ section.settings.alignment }} px-3">
    <div class="col-11 col-lg-6 text-{{ section.settings.alignment }}">
    {% if section.settings.heading != blank %}
    <h2 class="mb-3 {{ section.settings.heading_size }} text-{{ section.settings.text_color }}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
    <div class="mb-5 text-{{ section.settings.text_color }}">{{ section.settings.text }}</div>
    {% endif %}
    </div>
    </div>
    <div class="row justify-content-center text-start text-{{ section.settings.text_color }}">
        {% for block in section['block_order'] %}
        <div class="col-12 col-lg-{{ section.settings.grid }} px-4 py-4 star-{{ section.settings.icon_color }}">
            {% block %}
        </div>
        {% endfor %}
    </div>
    </div>
</div>

{% styles %}
.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }} .name {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

.section-{{ section.id }} .review-text {
    font-family: {{ type_header_font }};
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

{% endstyles %}

{% schema %}
{
"name": "Multicolumn Testimonial",
"description": "Grid of testimonials with photo, star rating and text. It can show 2, 3, or 4 columns of blocks per row on desktop.",
"max_blocks": 12,
"settings": [
{
"type": "checkbox",
"id": "fullwidth",
"label": "Full Width"
},
{
"type": "select",
"id": "margin",
"label": "Section Margin",
"default": "0",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "1"
},
{
"label": "Medium",
"value": "3"
},
{
"label": "Large",
"value": "5"
}]
},
{
"type": "select",
"id": "padding",
"label": "Padding",
"default": "80px",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "40px"
},
{
"label": "Medium",
"value": "80px"
},
{
"label": "Large",
"value": "120px"
}]
},
{
"type": "select",
"id": "grid",
"label": "Columns Per Row",
"default": "4",
"options": [
{
"label": "2",
"value": "6"
},
{
"label": "3",
"value": "4"
},
{
"label": "4",
"value": "3"
}]
},
{
"type": "select",
"id": "bg_color",
"label": "Background Color",
"default": "background2",
"options": [
{
"label": "Black",
"value": "black"
},
{
"label": "Background 1",
"value": "background1"
},
{
"label": "Background 2",
"value": "background2"
},
{
"label": "Background 3",
"value": "background3"
},
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
}
]
},
{
"type": "select",
"id": "icon_color",
"label": "Star Icon Color",
"default": "accent1",
"options": [
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
},
{
"label": "Inverse",
"value": "inverse"
}
]
},
{
"type": "select",
"id": "alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{
"label": "Left",
"value": "start"
},
{
"label": "Center",
"value": "center"
},
{
"label": "Right",
"value": "end"
}]
},
{
"type": "select",
"id": "text_color",
"label": "Text Color",
"default": "default",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
},
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "select",
"id": "heading_size",
"label": "Heading Size",
"default": "h2",
"options": [
{
"label": "H1",
"value": "h1"
},
{
"label": "H2",
"value": "h2"
},
{
"label": "H3",
"value": "h3"
}
]
},
{
"type": "richtext",
"id": "text",
"label": "Text"
}
],
"blocks": [
{
"type": "mc-testimonial"
}
]
}
{% endschema %}