@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://use.typekit.net/ygt1nvi.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    line-height: 1.6;
    font-weight: 400;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

#wrapper {
    min-height: 100vh;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: auto;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
}

h1, .h1 {
    font-size: 3em;
}

h2, .h2 {
    font-size: 2.5em;
}

h3, .h3 {
    font-size: 1.5em;
}

h4, .h4 {
    font-size: 1.2em;
}

h5, .h5 {
    font-size: 1em;
}

h6, .h6 {
    font-size: 0.8em;
}

@media screen and (max-width: 576px) {
    h1, .h1 {
        font-size: 2em;
    }

    h2, .h2 {
        font-size: 1.5em;
    }

    h3, .h3 {
        font-size: 1.25em;
    }


}

strong {
  font-weight: 700;
}

em {
    font-style: italic;
}
            
p {
    font-weight: 400;
    line-height: 1.6;
}
            
a {
    font-weight: 600;
}
            
ul {
    padding-left: 1em;
    margin-bottom: 1rem;
    line-height: 1.6;
}
            
ul li {
    font-size: 1rem;
    line-height: 1.6;
}

/* Form */
            
.form-group {
    text-align: left;
}
            
label {
    font-size: 0.9em;
    font-weight: 700;
}
            
input, textarea {
    font-weight: 600;
    font-size: 0.9rem;
    border: 0;
    padding: 0.5rem;
}
            
.form-control {
    border: 0;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 0.9em;
}

/* End Form */
            
/* Footer with Blocks */

.footer-with-blocks {
    padding: 0 120px;
}     
            
.footer-with-blocks [class^="icon-"]:before {
    font-size: 1.5rem;
}
            
.footer-with-blocks .text-inverse a {
text-decoration-color: transparent;
}
            
                
.footer-with-blocks a.icon-facebook-icon:hover,
.footer-with-blocks a.icon-twitter-icon:hover, 
.footer-with-blocks a.icon-instagram-icon:hover, 
.footer-with-blocksa.icon-pinterest-icon:hover,
.footer-with-blocks a.icon-linkedin-round-line:hover {
    text-decoration-color: transparent;
}
                
.footer-with-blocks .accordion-item {
    background-color: transparent;
}
                
.footer-with-blocks .accordion-button:after {
    background-image: url("{{ 'Plus.svg' | image_url }}");
}
                
.footer-with-blocks .accordion-button:not(.collapsed)::after {
    background-image: url("{{ 'Minus.svg' | image_url }}");
}
                
.footer-with-blocks .accordion-flush .accordion-item:first-child, .accordion-flush .accordion-item:last-child {
    border-top: solid 1px #ffffff26;
    border-bottom: solid 1px #ffffff26;
}
                
.footer-with-blocks .accordion-button:focus {
    border: none;
    box-shadow: none;
}
                
.footer-with-blocks .accordion-body {
    padding: 0 0.5rem 1rem;
}
            
.show-mobile {
    display: none;
}

.footer-bottom .copyright, .footer-bottom .legal a {
    font-size: 0.875rem;
    opacity: 0.5;
}
            
.footer-subtext, .footer-subtext p {
    font-family: 'Roboto';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
}

@media screen and (max-width: 991px) {
    .show-mobile {
        display: block;
    }
                    
    .show-desktop {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .footer-with-blocks {
        padding: 0 20px;
    }

    .footer-with-blocks [class^="icon-"]:before {
        font-size: 1rem;
    }

    .footer-header {
        font-size: 16px;
    }
} 

/* End Footer with Blocks */
            
/* Multicolumn Footer with Text */

.copyright-text, .bottom-menu a {
    font-size: 0.875rem;
}

.bottom-menu a:hover {
    text-decoration: underline;
}

.muticolumn-footer-with-text .footer-blocks {
    font-weight: 600;
}

.muticolumn-footer-with-text .footer-blocks h2 {
    text-transform: uppercase;
}

.muticolumn-footer-with-text .description-text,
.muticolumn-footer-with-text .copyright-text,
.muticolumn-footer-with-text .bottom-menu a {
    font-weight: 400;
    opacity: 0.5;
}

.muticolumn-footer-with-text .social-icons a {
    text-decoration-color: transparent;
}

.muticolumn-footer-with-text .social-icons [class^="icon-"]:before, .muticolumn-footer-with-text .social-icons [class*=" icon-"]:before {
    font-size: 1.5rem;
}

.muticolumn-footer-with-text .accordion-button::after {
    background-image: none;
}

.footer-blocks .accordion-button {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
}

.footer-blocks .accordion-button:not(.collapsed)::after {
    content: "\e90a";
    font-family: 'icomoon';
}

.footer-blocks .accordion-button::after {
    content: "\e90d";
    font-family: 'icomoon';
}

.footer-blocks .accordion-item {
    background-color: transparent;
    border-color: transparent;
}

.footer-blocks .accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}

.footer-blocks .accordion-body {
    padding: 1rem 0;
}

.footer-blocks.text-default a, .bottom-menu a.text-default {
    text-decoration: none;
}

.footer-blocks.text-default a:hover, .bottom-menu a.text-default:hover {
    text-decoration: underline;
}

@media screen and (max-width: 576px) {
    .muticolumn-footer-with-text .footer-block-col {
        flex: 1 0 100%;
    }

    .muticolumn-footer-with-text img {
        max-width: 75%;
    }
}

/* Header */

@media screen and (max-width: 768px) {
    .navbar-toggler {
        padding: 0.25rem 0.75rem 0.25rem 0;
    }
}

#mobileHeader {
    display: none;
}
        
@media screen and (max-width: 1024px) {
    #header {display: none;}
    #mobileHeader {display: block;}
    #menuIconHeader {display: none;}
}
        
@media screen and (max-width: 1024px) and (min-width: 576px) {
.offcanvas .top, .offcanvas ul {
    padding: 0 50px;
}
}

.mobile-logo {
    max-width: 45vw;
}
        
.btn-close {
    opacity: 1;
    padding-left: 0;
    font-size: 0.75rem;
}
        
#menuIconHeader .offcanvas .btn-close {
    background: none;
}

#menuIconHeader .offcanvas .close-text {
    font-weight: 600;
    font-size: 1.25rem;
}

#menuIconHeader .offcanvas .dropdown-menu {
    padding: 0;
}

#menuIconHeader .offcanvas .dropdown-item {
    padding: 0.25rem 0;
}

#menuIconHeader .offcanvas .btn-close:focus {
    box-shadow: none;
}

#menuIconHeader .icon-Close:before {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 1.25rem;
}

#menuIconHeader .btn-close_container.navbar-toggler:hover::after {
    height: 2px;
    width: 30%;
}

#menuIconHeader .btn-close_container.navbar-toggler::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    background-color: #40644a!important;
    bottom: -8px;
    left: -68%;
    margin: auto;
    transition: all 1s ease;
}
        
input#mobileNavSearch.col, input#desktopNavSearch.col {
    border: none;
}

#mobileHeader .offcanvas .dropdown-menu {
    padding: 0;
}

#mobileHeader .offcanvas .dropdown-item {
    padding: 0.25rem 0;
}

@media screen and (max-width: 1024px)  {
    input#desktopNavSearch.col {
        width: 100vw;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* 404 Page */

@media screen and (max-width: 576px) {
    .page-404 {
        padding: 80px 10px;
    }

    .page-404 h1 {
        font-size: 2rem;
        padding: 0 12px;
    }
}

div.transparent-menu > main section:first-child {
    margin-top: -125px;
    z-index: 1;
    padding-top: 125px;
}

div.transparent-menu > main section.events-template, div.transparent-menu > main section.search-results-page {
    padding-top: 250px;
}

#mobileHeader {
    z-index: 2;
}

.header {
    z-index: 2;
}

.navbar {
    z-index: 999;
}

div.transparent-menu + div.hero-text-box {
    margin-top: -125px;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .hero_content-video .tb-down {
        height: 100%!important;
        padding: 50px 0!important;
    }
    
    .mobile-50vh {
        height: 50vh!important;
    }
    
    .mobile-75vh {
        height: 75vh!important;
    }
    
    .mobile-100vh {
        height: 100vh!important;
    }
    
    .tb-up-50vh {
         margin-top: -50vh!important;
         height: 50vh!important;
    }
    
    .tb-up-75vh {
             margin-top: -75vh!important;
             height: 75vh!important;
    }
    
    .tb-up-100vh {
             margin-top: -100vh!important;
             height: 100vh!important;
    }
}
