<div class="search-results py-5 container-fluid">
    <div class="container">
        <div class="row search-content justify-content-center">
            <div class="col-12 col-lg-6 search-listing">
                {% paginate pages by 10 %}
                {% if paginate.items <= 1 %}
                <h1 class='blog-h mb-4 text-center text-uppercase'>{{ paginate.items }} {%if paginate.items == 1 %}Result{%else%}Results{% endif %} for<br>"{{ params['q'] }}"</h1>
                {% else %}
                <h1 class='blog-h mb-4 text-center text-uppercase'>Search</h1>
                {% endif %}
                
                <form action="/search" class="search-form my-4 pb-2">
                <label for="siteSearch">Search</label>
                <div class="d-flex flex-row ">
                <input class="col" type="search" id="siteSearch" name="q" placeholder="Search Term"  />
                <button type="submit" class="btn btn-accent1">Search</button>
                </div>
                </form>
                <div class="results-container my-4">
                {% if params['q'] != blank %}
                
                    {% for page in pages %}
                        <div class="search-list shadow-hover pb-4">
                                <div class="search-list-content">

                                    <a href="{{ page.url }}"><h3 class="mt-4">{{ page.title }}</h3></a>
                                    {% if page.sub_title %}
                                    <p class="search-list-excerpt">
                                        {{ page.sub_title | truncate: 800 }}
                                    </p>
                                    {% endif %}
                                </div>
                            
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endpaginate %}
            </div>

        </div>
    </div>
</div>